body{
    height: 100vh;
    width:100vw;
    background-color: honeydew;
    border: solid;
}
html{
    font-size:62.5%;
}
.headerH1{
    font-weight:900;
    font-size: 3rem;
    color:ivory;
}
.App{
    background-size: cover;
    background-repeat:no-repeat;
    background-image:linear-gradient(120deg,rgb(209, 124, 209),purple);
    margin:auto;
    width:50%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}
button{
    background-color:rgb(209, 124, 209);
    color:honeydew;
}
.buttonStyle{
   background-color: rgb(83, 25, 83);
    font-size:2rem;
    font-weight:900;
    border:none;
    outline:0;
    margin-left:1rem;
    border-radius:0.5rem;
}

button:active,button:hover{
color:rgb(209, 124, 209);
background-color:honeydew; 
}
input{
  font-size:2rem;
  padding:1rem;
  border:0;
  border-radius: 0.5rem;
  font-family: inherit;
    
}
.input:focus,.input:active{
    outline:0;

}
.todolist{
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    color:rgb(17, 9, 9);
    font-weight: bolder;
    justify-content: flex-start;
}
li{
    list-style: none;
}
form{
    display: flex;
}
.tasks{
    background-color: purple;
    color:whitesmoke;
    padding:1rem;
    width:20rem;
}
.tasklist{
    display: flex;
    margin: 1rem;
}
.tasklist > button{
    padding:0.5rem;
    font-weight: bolder;
    margin-left: 0.1rem;
    border:none;
}